pkgbase = qcom-camera-service
	pkgdesc = Qualcomm QMMF camera service for QCM6490
	pkgver = 1.0
	pkgrel = 2
	url = https://github.com/qualcomm/camera-service
	install = qcom-camera-service.install
	arch = aarch64
	license = BSD-3-Clause-Clear
	makedepends = git
	makedepends = cmake
	makedepends = protobuf
	makedepends = abseil-cpp
	depends = qcom-camx-kodiak
	options = !strip
	source = qcom-camera-service::git+https://github.com/qualcomm/camera-service.git#commit=47fe2cb12f283c46b865733a9673987bc22ad5e5
	sha256sums = SKIP

pkgname = qcom-camera-service
